/*
	Put anything you reference with "url()" in ../assets/
	This way, you can minify your application, and just remove the "source" folder for production
*/
.nice-padding {
	padding: 15px;
}


.fittable-sample-shadow {
	box-shadow: -6px 0px 6px rgba(0,0,0,0.3);
	-moz-box-shadow: -6px 0px 6px rgba(0,0,0,0.3);
	-webkit-box-shadow: -6px 0px 6px rgba(0,0,0,0.3);
}
